/* Modal Dialog default styles */
.modal-links {
  display: inline-block;
  background: #fff;
  padding: 40px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
}

.modal-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.modal-links li {
  background: #dfdfdf;
}

.modal-links a {
  display: block;
  background: #fff;
  padding: 20px 30px;
  color: #777;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  transition: 0.2s;
}

.modal-links a:hover {
  transform: translate(-2px, -2px);
}

/**
 * Modal starts here.
 */
.modal {
  display: none;
}

.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}

.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

a[rel="modal:close"] {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.2);
  &:hover {
    text-decoration: none;
  }
}

/* Winning Dialog styles */
#winningDialog {
  width: 500px;
  //height: 405px;
  height: auto;
  font-family: $main-font;

  header {
    background: url('../../../images/winner.png') no-repeat center;
    background-size: 70px 100px;
    height: 100px;
    border-bottom: 1px solid $winningDialogMainColour;

    @include breakpointMaxWidth('xs') {
      background-position: left;
    }
  }

  #content {
    height: auto;
    color: $winningDialogMainColour;
    font-size: $mainWinningDialogFontSize;
    border-bottom: 1px solid $winningDialogMainColour;

    div:first-child {
      font-size: $mainWinningDialogFontSize + .4;
    }

    @include breakpointMaxWidth('xs') {
      div:nth-child(2) {
        font-size: .8em;
      }
    }

    div:last-child {
      font-size: $mainWinningDialogFontSize - .7;
    }

    span {
      display: flex;
      img {
        margin-right: 5px;
      }
    }
  }

  footer {
    color: $winningDialogMainColour;
    button {
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100px;

      @include breakpointMaxWidth('xs') {
        margin-left: 5px;
      }
    }
  }
}