{
  "parser": "babel-eslint",
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}