#actions {
  span {
    border-radius: 150%;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 25px;
    margin: 5px 15px;
    padding-top: 3px;
    text-align: center;
    transition-duration: 0.1s;
    transition-property: transform;
    width: 33px;
    &:hover {
      transform: scale(1.1);
    }
  }

  .actions-info {
    border-color: #3498DB;
    color: #3498DB;
  }

  .actions-delete {
    border-color: #B7477D;
    color: #B7477D;
  }
}