.dialog {
  border: 1px solid lightgray;

  .dialog-header {
    background-color: $backOfficeHeaderColour;
    color: $mainWheatColour;
    font-family: $mainFontFamily;
    font-size: 42px;
    margin: 0;
    padding: 10px 10px 10px 20px;
    text-align: left;
  }

  .dialog-body {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    max-height: 50vh;
    overflow-x: hidden;
    padding: 10px 30px 30px 30px;
    text-align: center;
    font-size: 18px;
  }

  .dialog-footer {
    padding: 10px;
    text-align: right;

    .button {
      margin: 10px;
    }
  }
}

.dialog-modal-open {
  overflow: hidden; /* no body scroll */
}

.dialog-modal {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  .dialog-modal-wrap {
    background: white;
    margin: 5% auto;
    width: 350px;
  }
}


.dialog-dismiss {
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}