#main-table {
  table {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;

    th {
      cursor: pointer;
      padding: 5px;
    }

    td {
      cursor: cell;
      padding: 5px;
      background-color: $backOfficeTableBackgroundColour;
    }
  }

  .toolbar {
    margin-left: 20px;

    a, button {
      background: #3498db linear-gradient(to bottom, #3498db, #2980b9);
      border-radius: 28px;
      box-shadow: 0 1px 3px #666666;
      color: #ffffff;
      font-size: 14px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      border: 0;
      margin-right: 5px;
    }

    a:hover, button:hover {
      background: #3cb0fd linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }
  }
}