#blower {
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  margin-top: 23%;
  margin-left: 33%;
}