#dauber {
  background: url("../../../images/blower_with_rounded_tube_bgr.png") center no-repeat;
  width: 330px;
  height: 278px;
  position: relative;

  #tube {
    width: 200px;
    height: 42px;

    div {
      display: inline-block;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 20%;
      left: 62%;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid;

      span {
        position: relative;
        display: block;
        margin: 0 auto;
        padding-top: 7%;
        font-weight: bold;
        font-size: 1.5em;
        text-shadow: 1px 1px #2e2e2e;
      }
    }
  }
}