#dauber {
  background: url("../../../images/blower_with_rounded_tube_bgr.png") center no-repeat;
  width: 330px;
  height: 278px;
  position: relative;

  #tube {
    width: 200px;
    height: 42px;

    #ball {
      display: inline-block;
      position: absolute;
      top: 20%;   // start position for ball animations
      left: 62%;  // start position for ball animations
    }
  }
}