#dauber {
  background: url("../../../images/blower_with_tube_bgr.png") center no-repeat;
  width: 330px;
  height: 294px;

  #tube {
    width: 200px;
    height: 42px;

    div {
      display: inline-block;
      position: absolute;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid white;
      margin-left: 15%;
      margin-top: 6%;
      text-align: center;

      span {
        position: absolute;
        display: block;
        width: 40px;
        margin: 0 auto;
        padding-top:7%;
        font-weight: bold;
        font-size: 1.5em;
        text-shadow: 1px 1px #2e2e2e;
      }
    }
  }
}