@import "../fonts";
@import "../variables";
@import "../mixins";
@import "components/actions";
@import "components/button";
@import "components/dialog";
@import "components/form";
@import "components/logo";
@import "components/table";
@import "components/back-office";

html, body {
  background: $backOfficeBackgroundColour;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $mainFontFamily;
}

.app-header {
  background-color: $fifthColColour;
  padding: 10px 5px;
  color: $mainWheatColour;
  font-size: 1.6em;
}