/* set +1px because of the cell borders,
this was each cell is 50px,
271px div -> 250px table -> 50px cell */
#card {
  text-align: center;
  padding: 10px;
  width: 271px;
  height: 321px;
  margin: .2em;
  font-family: $main-font;
  font-weight: bold;
  font-size: 2em;
  position: relative;
  background-color: #fff;
  box-shadow: inset 0 0 7px rgba(0,0,0,0.9);

  &.bingo {
    background: url('../../../images/logo.png') no-repeat 5px 90px;
    table {
      td { display: none; }
    }
  }

  table {
    width: 100%;
    background-color: wheat;
    color: black;
    box-shadow: 0 0 7px rgba(0,0,0,0.9);

    th, td {
      border: 1px solid lightgoldenrodyellow;
      text-shadow: 0 1px 1px white;
      width: 50px;
      height: 50px;
    }

    th {
      color: white;
      text-align: center;

      &.firstCol {
        background-color: $firstColColour;
      }

      &.secondCol {
        background-color: $secondColColour;
      }

      &.thirdCol {
        background-color: $thirdColColour;
      }

      &.fourthCol {
        background-color: $fourthColColour;
      }

      &.fifthCol {
        background-color: $fifthColColour;
      }
    }

    td {
      position: relative;
      padding-left: 3px;
      padding-right: 3px;
      cursor: pointer;

      &.marked:before {
        content: "";
        position: absolute;
        top: 1%;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
        -webkit-filter: blur(5px);
        z-index: 2;
      }

      &.marked {
        background: radial-gradient(circle at 50% 120%, #e17000, #f6c079 10%, #e17000 80%, #e17000 100%);
        border-radius: 50%;
      }

      &.drawn {
        background: radial-gradient(circle at 50% 120%, #dce1af, #f6c079 10%, #e11b3c 80%, #93abe1 100%);
        border-radius: 50%;
      }
    }
  }
}