#winPatternsAnimModule {
  border: $mainFrontColour;

  #container {
    height: 278px;
    width: 330px;
    text-align: center;

    #horizontal {
      display: inline-block;
      width: 48%;
      height: 48%;

      table {
        width: 100%;
        height: 100%;
        th, td {
          border: 1px solid $mainFrontColour;
        }
      }
    }

    #vertical {
      display: inline-block;
      width: 48%;
      height: 48%;

      table {
        width: 100%;
        height: 100%;
        th, td {
          border: 1px solid $mainFrontColour;
        }
      }
    }

    #diagonal {
      display: inline-block;
      width: 48%;
      height: 48%;

      table {
        width: 100%;
        height: 100%;
        th, td {
          border: 1px solid $mainFrontColour;
        }
      }
    }

    .highlighted {
      background-color: $mainWheatColour;
      @include win-color-effect();
    }
  }
}