#header {
  height: 130px;
  border-bottom: 1px solid $main-front-color;
  background: url('../../images/logo.png') no-repeat 1% 60%;
  font-family: $main-font;
  color: $main-front-color;

  @include breakpointMaxWidth('xs') {
    background-size: 115px 100px;
  }

  h1 {
    display: none;
    height: 130px;
    width: 500px;
    margin-left: 48%;
    line-height: 130px;
    text-transform: uppercase;

    @include breakpointMinWidth('l') {
      display: block;
    }

    @include breakpointMaxWidth('xxl') {
      font-size: 2em;
    }
  }

  #userProfile {

    h2 {
      font-size: 1.6em;
    }

      @include breakpointMaxWidth('m') {
      h2 {
        font-size: .9em;
      }

      h4 {
        font-size: .8em;
      }
    }
  }
}