@mixin selected-state($colour) {
  -moz-box-shadow: inset 10px 10px 150px $colour;
  -webkit-box-shadow: inset 10px 10px 150px $colour;
  box-shadow: inset 10px 10px 150px $colour;
}

@mixin win-color-effect() {
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

@mixin lineaVerticalGradient($colour1, $colour2) {
  background: $colour1;
  background: -webkit-linear-gradient($colour1, $colour2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($colour1, $colour2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($colour1, $colour2); /* For Firefox 3.6 to 15 */
  background: linear-gradient($colour1, $colour2); /* Standard syntax */

}