$main-font: 'Roboto Slab', serif;
$main-front-color: #ffffdd;

$firstColColour: #008ed6;
$secondColColour: #83d100;
$thirdColColour: #e17000;
$fourthColColour: #a71906;
$fifthColColour: #642e88;

$winningDialogMainColour: #e17010;

$mainWinningDialogFontSize: 1.2em;