$mainFontFamily: 'Roboto Slab', serif;
$mainFrontColour: #ffffdd;
$mainWheatColour: #F5DEB2;

$firstColColour: #008ed6;
$secondColColour: #83d100;
$thirdColColour: #e17000;
$fourthColColour: #a71906;
$fifthColColour: #642e88;

$winningDialogMainColour: #e17010;

$mainWinningDialogFontSize: 1.2em;

// Back office app
$backOfficeHeaderColour: #642e87;
$backOfficeBackgroundColour: #f0f0f0;
$backOfficeTableBackgroundColour: #fff;
$backOfficeInputsFontSize: 16px;