@import '_fonts';
@import '_variables';
@import '_header';

#mainWrapper {

  #gameContainer {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    div {
      flex-grow: 1;
      text-align: center;
      padding: 5px;
      width: 200px;
      height: auto;
      margin: .2em .7em;
      font-weight: bold;
      font-size: 3em;
    }
  }
}