@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '_fonts';
@import '_variables';
@import '_breakpoints';
@import '_header';
@import '_register_page';
@import 'dauber/_blower';
@import 'dauber/_dauber';
@import 'dauber/_ball';
@import 'cards/card';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("../../images/background.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}

#gameWrapper {
  color: $main-front-color;

  #gameContainer {
    width: 90%;
    margin: 0 auto;

    #cardsContainer {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      float: left;
      flex-direction: row;
      justify-content: flex-start;
      -webkit-flex-flow: row wrap;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    #dauber {
      float: right;
    }
  }
}