form#marketPlaceCards {
  label {
    font-size: 4em;
    cursor: pointer;
  }

  .container-fluid {
    .col-sm-3 {
      border: 1px solid white;
      height: 236px;


      &:hover {
        -moz-box-shadow: inset 10px 10px 150px #555ce1;
        -webkit-box-shadow: inset 10px 10px 150px #555ce1;
        box-shadow: inset 10px 10px 150px #555ce1;
      }

      label {
        margin: -10px auto 0 auto;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }

  input[type="radio"] {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .cards {
    img {
      margin: 0 auto;
    }
  }
}