form#marketPlaceCards {
  label {
    font-size: 4em;
  }

  .container-fluid {
    .col-sm-3 {
      border: 1px solid white;
      height: 236px;
      div {
        margin: -10px auto 0 auto;
      }
    }
  }

  input[type="radio"] {
    width: 30px;
    height: 30px;
  }

  .cards {
    img {
      margin: 0 auto;
    }
  }
}