#marketPlace {
  form {
    label {
      font-size: 4em;
      margin-top: -55px;
    }

    input[type="radio"] {
      width: 30px;
      height: 30px;
    }

    #oneCard {
      background: url('../../../images/market/one_card.png') no-repeat;
      width: 100px;
      height: 118px;
    }

    #twoCards {
      background: url('../../../images/market/two_cards.png') no-repeat;
      width: 130px;
      height: 137px;
    }

    #threeCards {
      background: url('../../../images/market/three_cards.png') no-repeat;
      width: 150px;
      height: 142px;
    }

    #fourCards {
      background: url('../../../images/market/four_cards.png') no-repeat;
      width: 180px;
      height: 150px;
    }

    #fiveCards {
      background: url('../../../images/market/five_cards.png') no-repeat;
      width: 174px;
      height: 148px;
    }

    #sixCards {
      background: url('../../../images/market/six_cards.png') no-repeat;
      width: 191px;
      height: 151px;
    }

    #sevenCards {
      background: url('../../../images/market/seven_cards.png') no-repeat;
      width: 206px;
      height: 153px;
    }

    #eightCards {
      background: url('../../../images/market/eight_cards.png') no-repeat;
      width: 218px;
      height: 153px;
    }
  }
}