#marketPlace {
  form {
    ul {
      list-style: none;

      li {
        display: inline-block;

        label {
          font-size: 4em;
        }

        &.one-card {
          background: url('../../../images/market/one_card.png') no-repeat;
          width: 100px;
          height: 118px;
        }

        &.two-cards {
          background: url('../../../images/market/two_cards.png') no-repeat;
          width: 130px;
          height: 137px;
        }

        &.three-cards {
          background: url('../../../images/market/three_cards.png') no-repeat;
          width: 150px;
          height: 142px;
        }

        &.four-cards {
          background: url('../../../images/market/four_cards.png') no-repeat;
          width: 180px;
          height: 150px;
        }

        &.five-cards {
          background: url('../../../images/market/five_cards.png') no-repeat;
          width: 174px;
          height: 148px;
        }

        &.six-cards {
          background: url('../../../images/market/six_cards.png') no-repeat;
          width: 191px;
          height: 151px;
        }

        &.seven-cards {
          background: url('../../../images/market/seven_cards.png') no-repeat;
          width: 206px;
          height: 153px;
        }

        &.eight-cards {
          background: url('../../../images/market/eight_cards.png') no-repeat;
          width: 218px;
          height: 153px;
        }
      }
    }
  }
}