form#marketPlaceCards {
  label {
    font-size: 4em;
    cursor: pointer;
  }

  .container-fluid {
    .col-sm-3 {
      border: 1px solid white;
      height: 236px;

      &:hover {
        @include selected-state(#555ce1);
      }

      &.selected {
        @include selected-state(#555ce1);
      }

      label {
        margin: -10px auto 0 auto;
        width: 100%;
        height: 100%;
        cursor: pointer;

        .cards {
          input[type="radio"] {
            width: 30px;
            height: 30px;
            cursor: pointer;
          }

          img {
            margin: 0 auto;
          }
        }
      }
    }
  }
}