#timerContainer {
  display: none;
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;

  .inner-shadow {
    color: $main-front-color;
    font-size: 10em;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
  }

  .pulsate {
    height: 310px;
    line-height: 280px;
    vertical-align: middle;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.8;
    font-size: 1.5em;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-weight: bold;
    color: $main-front-color;
  }

  @-webkit-keyframes pulsate {
    0% {
      opacity: 0.2;
      font-size: 1.5em;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      font-size: 6.5em;
    }
  }
}