#timerContainer {
  display: none;
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid white;
  opacity: .8;
  text-align: center;

  .inner-shadow {
    background-color: #565656;
    color: transparent;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }

  .pulsate {
    height: 310px;
    line-height: 280px;
    vertical-align: middle;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.8;
    font-size: 1.5em;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-weight: bold;
    color: yellow;
  }

  @-webkit-keyframes pulsate {
    0% {
      opacity: 0.2;
      font-size: 1.5em;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      font-size: 6.5em;
    }
  }
}